.highlight {
  position: relative;
}

/*代码块复制按钮*/
.code-block-header {
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(52, 53, 65, 1);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  font-size: .75rem;
  line-height: 1rem;
  color: rgba(217, 217, 227, 1);
}

.btn-copy {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: rgba(217, 217, 227, 1);
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  /* opacity: 0; */

  height: 1.5em;
  color-scheme: light;
  word-wrap: break-word;
  border: 0 solid #d9d9e3;
  box-sizing: border-box;
  font-family: inherit;
  font-size: .75rem;
  font-weight: inherit;
  line-height: 1rem;
  margin: 0;
  padding: 0;
  text-transform: none;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
  /* 将按钮内部元素设置为弹性盒子 */
  display: flex;
  /* 垂直居中对齐 */
  align-items: center;
  /* 元素之间的间距 */
  gap: .15rem;
}

.btn-copy:hover {
  color: #a9b7c6;
}

.highlight:hover .btn-copy {
  opacity: 1;
}