pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1.2em;
}

code.hljs {
    /* padding: 3px 5px; */
    font-size: 0.875em;
}

.hljs {
    color: #d4d4d4;
    /* background: #1f1f1f; */
}

.hljs::selection,
.hljs ::selection {
    /* background-color: #3e4451; */
    background-color: #547195;
    color: inherit;
}

.hljs-keyword {
    color: #CF8E6D;
}

.hljs-formula,
.hljs-params,
.hljs-property {}

.hljs-comment {
    /* color: #545862 */
    color: hsla(0, 0%, 100%, .5);
}


.hljs-tag {
    color: #565c64
}

.hljs-subst,
.hljs-punctuation,
.hljs-operator {
    color: #abb2bf
}

.hljs-operator {
    opacity: 0.7
}

.hljs-bullet,
.hljs-variable,
.hljs-template-variable,
.hljs-selector-tag,
.hljs-name,
.hljs-deletion {
    color: #e06c75
}


.hljs-symbol,
.hljs-number,
.hljs-link,
.hljs-attr,
.hljs-variable.constant_,
.hljs-literal {
    color: #d19a66
}


.hljs-title,
.hljs-class .hljs-title,
.hljs-title.class_ {
    color: #e5c07b
}

.hljs-strong {
    font-weight: bold;
    color: #e5c07b
}


.hljs-code,
.hljs-addition,
.hljs-title.class_.inherited__,
.hljs-string {
    /* color: #98c379 */
    color: #6AAB73;
}


.hljs-built_in,
.hljs-doctag,
.hljs-quote,
.hljs-keyword.hljs-atrule,
.hljs-regexp {
    color: #56b6c2
}


.hljs-function .hljs-title,
.hljs-attribute,
.ruby .hljs-property,
.hljs-title.function_,
.hljs-section {
    color: #61afef
}


/* .hljs-type, */
.hljs-template-tag,
.diff .hljs-meta {
    color: #c678dd
}

.hljs-type {
    color: #CF8E6D
}

.hljs-emphasis {
    color: #c678dd;
    font-style: italic
}


.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
    color: #be5046
}

.hljs-meta {
    color: #B3AE60
}

.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
    font-weight: bold
}

.hljs-doctag,
.hljs-formula,
/* .hljs-keyword, */
.hljs-literal {
    color: #2e95d3;
}